$mainText: #6e6b7b;
$mainBgDark: #191919;
$darkBg: hsl(0, 0%, 18.82%);
$mainTextDark: #ececec;

$primary: #7367f0;//rgb(255, 20, 147);
$primaryShadow: #7367f095;////rgb(255, 20, 147, 0.6);
$primaryDisabled: #9c94f0;//rgb(255, 137, 198);

$buttonPrimary: rgb(31, 116, 255);
$buttonPrimaryShadow: rgb(31, 116, 255, 0.7);
$buttonPrimaryDisabled: rgb(78, 146, 255);

$success: rgb(0, 215, 0);
$successShadow: rgb(0, 215, 0, 0.7);
$successDisabled: rgb(100, 181, 100);

$info: rgb(31,116,255);
$infoShadow: rgb(31,116,255, 0.7);
$infoDisabled: rgb(77, 145, 255);

$warning: rgb(255, 184, 31);
$warningShadow: rgb(255, 184, 31, 0.7);
$warningDisabled: rgb(255, 204, 94);

$danger: rgb(255, 0, 0);
$dangerShadow: rgb(216, 0, 0, 0.7);
$dangerDisabled: rgb(181, 100, 100);

$darkBorders: rgba(255, 255, 255, 0.6);

//Widgets
$widgetBackground: rgb(201, 201, 201);
$widgetBackgroundDark: hsl(0, 0%, 18.82%);