.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $primary !important;
  border-color: $primary !important;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $primary !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $primary !important;
}

.el-checkbox__inner:hover {
  border-color: $primary !important;
}