.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: $primary !important;
  color: white !important;
}

.el-select-dropdown__item.selected {
  color: $primary !important
}